<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Booking</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <h1>SanaDuna</h1>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}">Main</a></li>
                <li><a th:href="@{/procedures}" class="btn client-btn">Procedures</a></li>
                <li><a th:href="@{/hotel-room}" class="btn client-btn">Hotel room</a></li>
                <li><a th:href="@{/room-usage}" class="btn client-btn">Usage</a></li>
                <li><a th:href="@{/staff}" class="btn client-btn">Staff</a></li>
                <li><a th:href="@{/customers}" class="btn client-btn">Customers</a></li>
                <li><a th:href="@{/room-booking}" class="btn client-btn">Room Booking</a></li>
            </ul>
        </nav>
    </div>
</header>
<h1>Room Booking</h1>
<a th:href="@{/room-booking/add}" class="btn">Add a new booking record</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Customer ID</th>
        <th>Hotel Room ID</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="roomBooking : ${roomBooking}">
        <td th:text="${roomBooking.id}"></td>
        <td th:text="${roomBooking.customer.id}"></td>
        <td th:text="${roomBooking.hotelRoom.id}"></td>
        <td th:text="${roomBooking.checkIn}"></td>
        <td th:text="${roomBooking.checkOut}"></td>
        <td>
            <a th:href="@{/room-booking/edit/{id}(id=${roomBooking.id})}">Edit</a>
            <a th:href="@{/room-booking/delete/{id}(id=${roomBooking.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
