<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <h1>SanaDuna</h1>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/procedures}">Процедуры</a></li>
                <li><a th:href="@{/rooms}">Номера</a></li>
                <li><a href="#">Бронирование</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a th:href="@{/customers}" class="btn client-btn">Клиенты</a></li>
            </ul>
        </nav>
    </div>
</header>
<h1>Список клиентов</h1>
<a th:href="@{/customers/add}" class="btn">Добавить нового клиента</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата рождения</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.dateOfBirth}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
        <td>
            <a th:href="@{/customers/edit/{id}(id=${customer.id})}">Редактировать</a>
            <a th:href="@{/customers/delete/{id}(id=${customer.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
