<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <h1>SanaDuna</h1>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}">Main</a></li>
                <li><a th:href="@{/procedures}" class="btn client-btn">Procedures</a></li>
                <li><a th:href="@{/hotel-room}" class="btn client-btn">Hotel room</a></li>
                <li><a th:href="@{/room-booking}" class="btn client-btn">Room booking</a></li>
                <li><a th:href="@{/staff}" class="btn client-btn">Staff</a></li>
                <li><a th:href="@{/customers}" class="btn client-btn">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>
<h1>List of Customers</h1>
<a th:href="@{/customers/add}" class="btn">Add a new customer</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Date of birth</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${page.content}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.dateOfBirth}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
        <td>
            <a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a>
            <a th:href="@{/customers/delete/{id}(id=${customer.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:if="${page.hasPrevious()}" th:href="@{'/customers?page=' + ${page.number - 1} + '&size=' + ${page.size}}">Previous</a>
    <span th:text="${page.number + 1}">1</span> / <span th:text="${page.totalPages}">1</span>
    <a th:if="${page.hasNext()}" th:href="@{'/customers?page=' + ${page.number + 1} + '&size=' + ${page.size}}">Next</a>
</div>
</body>
</html>
